/* Global styles */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the heaer */

header {
    background-color: #667;
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 35px;
}

/* Create two boxes/columns that float next to each other */

nav {
    background-color: #ccc;
    float: left;
    width: 30%;
    height: 300px;
    padding: 20px;
}

/* Style the list inside the menu*/

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
}

/* Clear floats after the colunmns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
}

/* Responsive design - makes the colunm stack on top off each other*/

@media (max-width: 600px) {
    nav,article {
        width: 100%;
        height: auto;
    }
}